[init]
	defaultBranch = main
[user]
	email = {email}
	name = {computerName}
[core]
	editor = nvim
[alias]
	lg = log --oneline
	logg = log --stat	# show simple diffs
	loggg = log -p		# show diffs
	s = status
	br = branch
