# gitconfig by egnrse
# (https://github.com/egnrse)
[user]
#	email = {email}
#	name = {computerName}
#	signingkey = {KeyID}
# add key with:
#	git config --global user.signingkey <KeyID>
[core]
	editor = nvim
