# creates a ssh tunnel to a tor-router at egnrse.eu:9050
# belongs into '~/.config/systemd/user/tor-tunnel.service'
# (by egnrse)
[Unit]
Description=SSH tunnel to I2P router
After=network.target

[Service]
ExecStart=/usr/bin/ssh -N -L 9050:127.0.0.1:9050 egnrse.eu -i /home/elia/.ssh/hetzner2025archPC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

# vim: set filetype=systemd:
