# put this file into /usr/local/share/applications/
# or ~/.local/share/applications/
[Desktop Entry]

Version=1.5
Type=Application
Name=wvkbd-laptop
GenericName=on screen Keyboard
Comment=An on screen keyboard for a laptops
#Icon=
# entry only shown if TryExec exists
TryExec=wvkbd-laptop
Exec=wvkbd-laptop
# paths must be absolut
#Path=/home/elia/
Terminal=false
Categories=Utility;
Keywords=keyboard;
#Categories=AudioVideo;Audio;Video;Development;Education;Game;Graphics;Network;Office;Science;Settings;System;Utility;
# dont show in menus
#NoDisplay=true
#OnlyShowIn=Hyprland
#NotShowIn=Hyprland
#PrefersNonDefaultGPU=true

# u can create actions
#Actions=new-window;

#[Desktop Action new-window]
#Name=open a new window
#Exec=try -n
#...


# (https://github.com/egnrse/configs)
# (by egnrse)
