/* 
  bg - background
  fg - foreground
  br - border
*/

* {
	main-fg:		#FCD4F6;
	main-bg:		rgba(17,17,27,0.733);
	main-br:		#35C1E7;
	input-bg:		rgba(10,6,14,0.733);
	select-bg:		rgba(252,212,246,0.733);
	select-fg:		#11111b;
	separatorcolor:	transparent;
	border-color:	transparent;
}
