* {
	border: none;
	border-radius: 0;
	font-family: "DejaVuSansM Nerd Font";
	font-weight: normal;
	font-size: 14px;
	min-height: 0;
	padding: 0;
	margin: 0;
	border-radius: 1px;
}

@import "theme.css";

/* === GENERAL === */

window#waybar {
	background: @Background;
	color: @MainText;
	/*border-bottom: 1px solid @Border;*/
}

/* drop shadow */
window#waybar > box {
	background: transparent;
	box-shadow: 0 0 2px 1px @AccentTransparent;
	margin: 1px;
}

tooltip, #tray menu {
	background: @Background;
	color: @MainText;
	border-radius: 4px;
}
tooltip label {
	color: @MainText;
	font-weight: normal;
	font-size: 13px;
	margin: -2px 3px;
}

/* many */
#custom-ws, #workspaces, #custom-padding1, #window, #clock, #battery, #network, #taskbar, #tray, #custom-spacer, #custom-update, #custom-power, #custom-wifi, #bluetooth, #wireplumber, #backlight, #power-profiles-daemon, #custom-media
{
	background: @Background;
	color: @MainText;
	transition-duration: 0s;
}

#custom-ws, #workspaces, #custom-padding1, #window, #clock, #battery, #network, #taskbar, #tray, #custom-spacer, #custom-update, #custom-power, #custom-wifi, #bluetooth, #wireplumber, #backlight, #custom-media
{
	padding: 0 0;
	margin: 0px 0px;
}

/* hover buttons */
#bluetooth.on:hover, #bluetooth.connected:hover, #bluetooth:hover, 
#custom-power:hover, #power-profiles-daemon:hover, #custom-update:hover, #custom-wifi:hover, #wireplumber:hover, #custom-media:hover {
	/*background-color: @TextDark;*/
	background-color: @Focus2Bg;
	color: @Focus2Fg;
	transition-duration: 0.3s;
}
#custom-hyprWindowMode:hover, #custom-power:hover {
	background-color: @TextDark;
	color: @FocusFg;
}
#taskbar button.active  {
	border-bottom: 1px solid @Border;
}

/* === HYPRLAND === */

#workspaces button {
	background: @Background;
	color: @MainText;
	padding: 0 5px;
	padding-top: 3px;
	transition-duration: 0.45s;
	box-shadow: none;
	border: none;
	/* does not work?
	font-size: 16px;
	font-weight: bold;
	 */
}

#workspaces button.active {
	background-color: @TextDark;
	color: @Focus2Fg;
	border-top: 1px solid @Border;
	padding-top: 1px;
	font-weight: bold;	/* does not work */
}
#workspaces button:hover {
	background: @Focus2Bg;
	color: @Focus2Fg;
	border-bottom: 2px solid @Border;
	padding-top: 1px;
}
#workspaces button.active:hover {
	background-color: @TextDark;
	color: @Focus2Fg;
	border-bottom: 2px solid @Border;
	border-top: 0px solid @Border;
}

/* === COMPUTER === */
#battery {
}
#battery.charging {
	color: @charging;
}
#battery.full {
	color: @full;
}
#battery.good {
	color: @good;
}
#battery.warning {
	color: @warning;
	background-color: @AlertDark;
}
@keyframes batteryCritical {
	to {
		background-color: @MainText;
		color: @BgDark;
	}
}
#battery.critical:not(.charging) {
	color: #FFFFFF;
	animation-name: batteryCritical;
	animation-duration: 0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


/* === CONNECTIONS === */
#network {
}

#network.disconnected {
	background: #f53c3c;
}


/* === OTHER === */
#custom-hyprWindowMode {
	font-weight: bold;
	padding: 0px 3px;
	padding-top: 1px;
}

#clock {
	font-weight: bold;
}

#backlight {
	margin-left: 0px;
	padding-right: 2px;
}
#custom-media {
	font-size: 13px;
}

#power-profiles-daemon {
	margin-left: 0px;
}
#power-profiles-daemon.performance {
	color: @yellow;
	padding-right: 4px;
	padding-left: 2px;
}
#power-profiles-daemon.balanced {
	color: @MainText;
	padding-right: 6px;
}
#power-profiles-daemon.power-saver {
	color: @green;
	padding-left: 1px;
	padding-right: 5px;
}

#tray {
}
#tray menu {
	background: @BackgroundSolid;
}

#wireplumber {
	padding: 0px 1px;
	margin-right: 0px;
}
#bluetooth {
	padding-right: 1px;
}
#bluetooth.on, #bluetooth.connected {
	color: @blue;
}
@keyframes bluetoothDiscovering {
	to {
		background-color: @Background;
		color: @TextDark;
	}
}
#bluetooth.discovering {
	color: @blue;
	animation-name: bluetoothDiscovering;
	animation-duration: 1s;
	animation-timing-function: steps(20);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#bluetooth.no-controller {
	color: @Alert;
}


#custom-wifi {
	margin-left: -3px;
	margin-right: 1px;
	padding-right: 2px;
}
#custom-update {
	margin-left: -2px;
	margin-right: 1px;
	padding-right: 1px;
}

#custom-power {
	color: @MainText;
	background-color: @Background;
	padding-left: 1px;
	padding-right: 0px;
	margin-right: -3px;
}

