* {
	border: none;
	border-radius: 0;
	font-family: "DejaVuSansM Nerd Font";
	font-size: 13px;
	min-height: 0;
}

@import "theme.css";

/* === GENERAL === */

window#waybar {
	background: @Background;
	color: @MainText;
	/*border-bottom: 1px solid @Border;*/
}



tooltip {
	background: @Background;
	color: @MainText;
}
tooltip label {
	color: @MainText;
}

#window {
	font-weight: bold;
}


/* === HYPRLAND === */

#workspaces {
}

#workspaces button {
	background: @Background;
	color: @MainText;
	padding: 0 5px;
	transition-duration: 0.05s;
}

#workspaces button:active {
	background: #ffffff;
	border-top: 2px solid @border;
}

#workspaces button:hover {
	background-color: @BgDark;
	color: @Focus2Fg;
}

/* === COMPUTER === */
#battery {
}
#battery.charging {
	color: @charging;
}
#battery.full {
	color: @full;
}
#battery.good {
	color: @good;
}
#battery.warning {
	color: @warning;
	background-color: @AlertDark;
}
@keyframes batteryCritical {
	to {
		background-color: @MainText;
		color: @BgDark;
	}
}
#battery.critical:not(.charging) {
	color: white;
	animation-name: batteryCritical;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profile-daemon {
	color: green;
}

/* === CONNECTIONS === */
#network {
}

#network.disconnected {
	background: #f53c3c;
}


/* === OTHER === */
#mode {
	background: #64727D;
	border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
	padding: 0 3px;
	margin: 0 2px;
}

#clock {
	font-weight: bold;
}

#tray {
}

#custom-power {
	color: @MainText;
	background-color: @Background;
	padding-left: 2px;
	padding-right: 2px;
	transition-duration: 0.05s;
}
#custom-power:hover {
	color: @Focus2Fg;
	background-color: @BgDark;
}
#custom-power:active {
	color: @FocusFg;
	background-color: @FocusBg;
}

