/* style for wlogout 
 * meant to be launched with './logoutlaunch.sh 2'
 *
 * edited by egnrse (https://github.com/egnrse/configs)
 * (maybe original by: https://github.com/prasanthrangan/hyprdots)
 */
* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	transition: all 0.4s cubic-bezier(.55,0.0,.28,1.0);
	background-image: none;
}

@import "$HOME/.config/egnrseTheme.css";

window {
	background-color: @BgDark;
}

button {
	color: @MainText;
	background-color: @Background;
	opacity:	0.733;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	border: 0.8em solid transparent;
	text-shadow: none;
	box-shadow: none;
}

button:focus {
	color: @TextDark;
	background-color: @TextDark;
	opacity:	0.9;
	background-size: 30%;
}

button:hover {
	color: @TextDark;
	background-color: @Accent;
	background-size: 30%;
}

button:hover#lock {
	background-size: 32%;
}
button:hover#logout {
	background-size: 31%;
}

button:focus#lock {
	background-image: url("$HOME/.config/wlogout/icons/lock-black.png");
	background-size: 32%;
}
button:focus#logout {
	background-image: url("$HOME/.config/wlogout/icons/logout-black.png");
	background-size: 31%;
}
button:focus#shutdown {
	background-image: url("$HOME/.config/wlogout/icons/shutdown-black.png");
}
button:focus#reboot {
	background-image: url("$HOME/.config/wlogout/icons/reboot-black.png");
}

#lock {
	background-image: url("$HOME/.config/wlogout/icons/lock-white.png");
	background-size: 22%;
	border-radius: ${border_rad}px 0 0 0;
	margin : ${y_margin}px 0 0 ${x_margin}px;
}
#logout {
	background-image: url("$HOME/.config/wlogout/icons/logout-white.png");
	background-size: 22%;
	border-radius: 0 0 0 ${border_rad}px;
	margin : 0 0 ${y_margin}px ${x_margin}px;
}
#shutdown {
	background-image: url("$HOME/.config/wlogout/icons/shutdown-white.png");
	border-radius: 0 ${border_rad}px 0 0;
	margin : ${y_margin}px ${x_margin}px 0 0;
}
#reboot {
	background-image: url("$HOME/.config/wlogout/icons/reboot-white.png");
	border-radius: 0 0 ${border_rad}px 0;
	margin : 0 ${x_margin}px ${y_margin}px 0;
}
