# adds a custom service menu entry for executables (to dolphin)
# that runs the selected file with 'xdg-terminal-exec'
# this files overwrites the one shipped by KDE that uses 'konsole' (!don't rename this file!)
# Needs the 'xdg-terminal-exec' package
#
# put this file into: '~/.local/share/kio/servicemenus/' or '/usr/share/kio/servicemenus/'
# this file needs to be executable to work
# (by egnrse)
[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInKonsole;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInKonsole]
TryExec=xdg-terminal-exec
Exec=xdg-terminal-exec bash -c "%f; exec $SHELL" 
Icon=system-run-symbolic
Name=Run In Konsole

